{% extends 'pages/pagelayout.html' %}
{% block title %}New Rule{% endblock %}
{% block pagecontent %}
    <div class="container-fluid">
        <div class="card mx-auto mt-4" style="width: 50vw; min-width: 300px">
            <div class="card-header bg-light" >
                <h5>New Rule</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group mb-5">
                        <label for="inputRuleName" class="h6">Rule name</label>
                        <input type="text"
                               class="form-control form-control-lg"
                               id="inputRuleName"
                               placeholder="Example: Turn livingroom lights on when its dark">
                    </div>
                    <h5>Rule Condition</h5>
                    <small class="form-text text-muted mb-3">Decide what happens when one ore more sensors reach a certain value</small>
                    <div class="form-group">
                        <div class="form-row" style="width: min-content; min-width: 30vw;">
                            <div class="col-md-2 pt-2"><h6>When..</h6></div>
                            <div class="col-md-7">
                                <select class="custom-select">
                                {% for sen in userSensors %}
                                    <option>{{ sen["prettyname"] }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1 pt-2"><h6>..is..</h6></div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="sensorValue" placeholder="25">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <button class="btn border-primary btn-sm ml-4 mr-1">+</button>
                        <small class="form-text text-muted mb-2">Add a new sensor to condition</small>
                    </div>
                    <h6>Do the following..</h6>
                    <div class="form-group">
                        <select class="custom-select">
                        {% for act in userActions %}
                            <option>{{ act["prettyname"] }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="row mb-4">
                        <button class="btn border-primary btn-sm ml-4 mr-1">+</button>
                        <small class="form-text text-muted mb-2">Add a new action</small>
                    </div>
                    <button type="button" class="btn btn-primary btn-block">Create rule</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}