.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.ini
__pycache__/*
*.pyc
.idea/*
*.xml
services/edge/web_app_api/\.idea/web_app_api\.iml
services/edge/device_api/\.idea/
