{% extends 'pages/pagelayout.html' %}
{% block title %}New rule{% endblock %}
{% block pagecontent %}
    <div class="container-fluid" style="margin-bottom: 80px">
        <div class="card mx-auto mt-2" style="width: 50vw; min-width: 300px">
            <div class="card-header bg-light">
                <h5>New rule <button type="button" class="btn btn-sm px-4 btn-primary float-sm-right" data-toggle="modal" data-target="#cancel_modal">Cancel</button></h5>
            </div>
            <div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Discard changes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text">Your changes will be discarded. Are you sure you want to go back?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No, keep changes</button>
                    <a class="btn btn-warning" href="{{ url_for('rules') }}">Yes, discard changes</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group mb-4">
                        <label for="inputRuleName" class="h5">Rule name</label>
                        <input type="text"
                               class="form-control form-control-lg"
                               id="inputRuleName"
                               placeholder="Example: Turn livingroom lights on when its dark">
                    </div>
                    <h5>Rule condition</h5>
                    <small class="form-text text-muted mb-3">Decide what happens when one or more sensors reach a certain value</small>
                    <div id="chooseSensors">
                        <div class="form-group">
                            <div class="form-row" style="width: min-content; min-width: 40vw;">
                                <div class="col-md-1-2 pt-2"><h6>When..</h6></div>
                                <div class="col-md-6">
                                    <select class="custom-select">
                                        <option>Please select a sensor</option>
                                    {% for sen in userSensors %}
                                        <option>{{ sen["prettyname"] }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-0-8 pt-2"><h6>..is..</h6></div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="sensorValue" placeholder="sensor value">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <a href="#addNewSensor" class="badge badge-secondary ml-4 mt-1 mr-1 p-2" id="addNewSensor" style="height: min-content">+</a>
                        <a class="form-text text-muted mb-2">Add a new sensor to condition</a>
                    </div>
                    <h6>Do the following..</h6>
                    <div id="chooseActions">
                        <div class="form-group">
                            <select class="custom-select">
                                <option>Please select an action</option>
                            {% for act in userActions %}
                                <option>{{ act["prettyname"] }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <a href="#addNewAction" class="badge badge-secondary ml-4 mt-1 mr-1 p-2" id="addNewAction" style="height: min-content">+</a>
                        <a class="form-text text-muted">Add a new action</a>
                    </div>
                    <button type="button" class="btn btn-primary btn-block">Create rule</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}