{% extends 'pages/pagelayout.html' %}
{% block title %}Rules{% endblock %}
{% block pagecontent %}
    <div class="container-fluid">
        <div class="row">
            <div class="card mr-5" style="width: 20vw; min-width: 300px; height: min-content;">
                <div class="card-header bg-light">
                    <h5>Your rules<a href="{{ url_for('rules_new') }}" class="btn btn-sm btn-primary float-sm-right">New rule</a></h5>
                </div>
                <!-- Left side - list of devices -->
                <!-- List Group -->
                <nav>
                {% for rul in userRules %}
                    <ul class="fixed-ul">
                        <a class="h5 ml-3 text-dark" href="{{ url_for('rules_id', id=rul["id"]) }}">{{ rul["name"] }}</a>
                    </ul>
                {% endfor %}
                </nav>
            </div>
        </div>
    </div>

{% endblock %}