{% extends 'layout.html' %}
{% block title %}Sign in{% endblock %}
{% block content %}
    <form class="form-signin text-center mt-5" method="POST">
        {{ form.hidden_tag() }}
        <h1 class="h3 font-weight-normal">Sign in</h1>
        <p><a href="{{url_for('register') }}" class="mb-3 text-primary">or register</a></p>
        {{ form.username.label(class_='sr-only') }}<br>
        {{ form.username(class_='form-control', placeholder='Username') }}<br>
        {% for error in form.username.errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %}
        {{ form.password.label(class_='sr-only') }}<br>
        {{ form.password(class_='form-control', placeholder='Password') }}<br>
        {% for error in form.password.errors %}
            <span style="color: red">[{{ error }}]</span>
        {% endfor %}
        {{ form.submit(class_='btn btn-lg btn-primary btn-block') }}
    </form>
{% endblock %}