<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test Service</title>
    </head>
    <body>
        <h2>
            Test EdgeApiService
        </h2>
        <p>{{ text }}</p>
        <form action="/action_page.php">
            Username:<br>
            <input type="text" name="username" value=""><br>
            E-mail:<br>
            <input type="text" name="email" value=""><br><br>
            <input type="submit" value="Add User">
        </form> 
    </body>
</html>